---
layout: default
title: Home
---

<div class="posts">
	{% for post in paginator.posts %}
    {% assign primary_tag = post.tags[0] %}
    {% assign primary_tag_class = primary_tag | downcase | replace:' ','-' | replace:'&','and'  %}
	<article class="post-preview">
        <a class="preview-image-link no-underline" href="{{ site.baseurl }}{{ post.url }}">
            <img class="preview-image" src="{{ post.image }}"/>
        </a>
        <div class="preview-main">
            <a class="no-underline no-color" href="{{ site.baseurl }}{{ post.url }}">
                <h1 class="post-title">
                        {{ post.title }}
                </h1>
                <div class="preview-text">
                    {{ post.summary }}
                    <span class="read-more anchor-style" href="{{ site.baseurl }}{{ post.url }}">Read More</span>
                </div>
            </a>
            <div>
                <a class="category icon {{primary_tag_class}}" href="{{ site.baseurl }}{{ post.url }}">{{ primary_tag }}</a>
                <time class="post-date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time>
            </div>
        </div>
	</article>
	{% endfor %}
</div>

<div class="pagination">
	{% if paginator.previous_page %}
		<a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
	{% else %}
		<span class="pagination-item newer">Newer</span>
	{% endif %}
    {% if paginator.next_page %}
		<a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
	{% else %}
		<span class="pagination-item older">Older</span>
	{% endif %}
</div>
