{% if page.isHome %}
    {% assign selected_link_text = 'Newest' %}
{% elsif page.tag == 'Big Data' %}
    {% assign selected_link_text = 'Big Data' %}
{% elsif page.tag == 'Lessons Learned' %}
    {% assign selected_link_text = 'Lessons Learned' %}
{% elsif page.tag == 'All Things Tech' %}
    {% assign selected_link_text = 'All Things Tech' %}
{% endif %}

<nav class="nav">
    <div class="flex-container">
        <h1 class="blog-title">EDMUNDS TECHNOLOGY</h1>

        <ul class="nav-container">
            <li class="nav-link-container">
                {% capture href %}{{ site.baseurl }}/{% endcapture %}
                {% include nav-link.html link_text='Newest' selected_link_text=selected_link_text href=href %}
            </li><li class="nav-link-container">
                {% capture href %}{{ site.baseurl }}/tag/all-things-tech/{% endcapture %}
                {% include nav-link.html link_text='All Things Tech' selected_link_text=selected_link_text href=href %}
            </li><li class="nav-link-container">
                {% capture href %}{{ site.baseurl }}/tag/big-data/{% endcapture %}
                {% include nav-link.html link_text='Big Data' selected_link_text=selected_link_text href=href %}
            </li><li class="nav-link-container">
                {% capture href %}{{ site.baseurl }}/tag/lessons-learned/{% endcapture %}
                {% include nav-link.html link_text='Lessons Learned' selected_link_text=selected_link_text href=href %}
            </li>
        </ul>
    </div>
</nav>