.nav {
    background: white;
    border-bottom: 1px solid #336699;
//    border-top: 1px solid #336699;
//    background: linear-gradient(#efedee 50%,#e3e3e3 50%);

    .blog-title,
    .nav-link {
        color: #336699;
        display: inline-block;
        padding: 0 .85rem;
        line-height: 4rem;
        letter-spacing: .2rem;
        font-size: .8rem;
    }

    .blog-title {
        order: 2;
        margin: 0;
        text-align: right;
        letter-spacing: .2rem;
        font-size: 1.75rem;
    }

    .nav-container {
        flex: 1;
        margin-left: 0;
        padding-left: 0;
    }

    .nav-link-container {
        border-right: 1px #9FB8CF solid;
        display: inline-block;
        font-weight: 400;
        position: relative;

        &:last-of-type {
            border-right: 0 solid;
        }

        &:hover .nav-link,
        .selected {
            color: #9FB8CF;
        }
        .tagged:after,
        .selected:after {
            border-left: .5rem solid transparent;
            border-right: .5rem solid transparent;
            border-top: .5rem solid #336699;
            bottom: -.55rem;
            content: '';
            display: inline-block;
            height: 0;
            left: 41%;
            position: absolute;
            width: 0;
        }
    }
}