<!DOCTYPE html>
<html lang="en">
	{% include head.html %}
	<body>
        {% include header.html %}
        {% include nav.html %}

        <div class="flex-container">
            {% if page.isHome %}
            <div class="featured">
                {% assign featured_post = site.posts[0] %}
                {% include preview-featured.html post=featured_post %}
            </div>
            {% endif %}

            <div class="container">
                <main>
                    {{ content }}
                </main>
            </div>

            <div class="secondary-container">
                {% include about.html %}
                {% include posts-by-date.html %}
            </div>
        </div>

        {% include footer.html %}

        <div id="fb-root"></div>
	</body>

    <script>
        try {
            /* facebook */
            (function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

            /* twitter */
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

            /* google plus */
            (function() {
              var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
              po.src = 'https://apis.google.com/js/platform.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
            })();
        } catch (e) {
        }
    </script>

    <!-- pinterest -->
    <script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>
</html>
