<!DOCTYPE html>
<html lang="en">
	{% include head.html %}
	<body>
        {% include nav.html %}

        {% if page.isHome and paginator.page == 1 %}
        <div class="flex-container">
            <div class="featured">
                {% assign featured_post = site.posts[0] %}
                {% include preview-featured.html post=featured_post %}
            </div>
        </div>
        {% endif %}

        <div class="flex-container">
            <div class="container">
                <main>
                    {{ content }}
                </main>
            </div>
            <div class="secondary-container">
                {% include about.html %}
                {% include posts-by-date.html %}
            </div>
        </div>

        {% include footer.html %}
	</body>
</html>
